@font-face {
    font-family: 'BPG WEB 001 Caps';
    src: url('../fonts/bpg_web_001_caps.ttf');
}
@font-face {
    font-family: 'BPG Glaho WEB Caps';
    src: url('../fonts/bpg_web_glaho_caps.ttf');
}
@font-face {
    font-family: 'Sylfaen';
    src: url('../fonts/Sylfaen.ttf');
}
